$input-color: #FFF5EE;
$pink: #E7B7A0;
$golden: #E6B370;
$dark-grey: #212427;

/* ---------styling for mobile------------------- */

@media screen and (min-width: 340px) { 
    body {
        background-image: linear-gradient(to bottom, #e7b7a0, #e9b598, #eab48f, #eab386, #e9b37d, #e9b782, #eabb86, #eabf8b, #ecc99f, #eed2b4, #efdcc8, #efe6dd);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: relative;
        margin: auto;
        overflow-x: hidden;
    
    }

    main {
        max-width: 600px;
        border: 1px solid darkgoldenrod;
        margin: auto;
        background-color: #e6cdb5;
    }

    section {
        margin: 1.4rem 1.5rem;
    }

    h1 {
        text-transform: uppercase;
    }

    h2 {
        font-size: 1.3rem;
        margin: 1.5rem 0;
    }

    h2:first-of-type {
        margin-bottom: 0.8rem;
    }

/* ------------For all inputfields that are not radiobuttons or checkboxes---------------- */
   /* stylelint-disable-next-line selector-not-notation */
   input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
   }

/* ---------------------The greetingsection with nameinput-------------------------- */
    .name {
        text-transform: uppercase;
    }

    .greeting .title {
        font-size: 1.5rem;
        display: flex;
    }

    .greeting .title input {
        margin-left: 0.5rem;
        flex: 1 1 0%;
        min-width: 0;
    }

    /* ---------the dateinput with the calendericon------------------- */
    #due-date-input {
        background-image: url('public/icons8-calendar-64.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: transparent;
        opacity: 1;
        width: 48px;
        height: 40px;
        margin-right: 25px;
        border-width: thin;
    }

/* ---------------------The create todo input-------------------------- */
    .create-todo input[type="text"] {
        display: block;
        width: 100%;
        font-size: 1.125rem;
        padding: 0.9rem 1rem;
    }

    .todo-input {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border-radius: 0.6rem;
        background-color: $input-color;
    }

/* ---------------------The section with categorys-------------------------- */

    input[type="radio"] {
        accent-color: $pink;
      }

    .options {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 15px 15px; 
        margin: 1rem 0;
    }

    .category-info {
        display: flex;
        align-items: center;
    }

    .category-info div {
        margin-right: 5px;
    }

    .create-todo .options .options-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.9rem;
        background-color: $input-color;
        border-radius: 0.8rem;
    }

/* ---------------------The submit button for the todo -------------------------- */
    .submit-button {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0.8rem 1.5rem;
        margin: 1.5rem 0;
        font-size: 1.125rem;
        background-color: $golden;
        box-shadow: 5px 5px 5px $dark-grey;
        border-radius: 0.8rem;
    }

    .submit-button:hover {
        opacity: 0.75;
    }

    /* ---------------------The section with the todos-------------------------- */
    .todo-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: $input-color;
        padding: 0.8rem;
        margin: 20px -20px;
        border-radius: 0.8rem;
    }

    .duedate-div {
        font-size: 0.8rem;
    }

    .category-icon {
        margin: 0 0.3rem;
    }

    /* ---------------------The edit and delete buttons-------------------------- */
    .todo-item .actions {
        display: flex;
        align-items: center;
    }

    .todo-item .actions button {
        display: block;
        background-color: $golden;
        font-size: 0.9rem;
        padding: 0.2rem;
        border-radius: 0.25rem;
    }

    .todo-item .actions button:hover {
        opacity: 0.75;
    }

    .todo-item .actions .edit {
        margin-right: 0.4rem;
    }

    input[type="checkbox"] {
        accent-color: $pink;
        margin-right: 10px;
        height: 15px;
        width: 15px;
      }

    input[type="checkbox"]:checked {
        transform: scale(1.4);
    }

    /* ---------------------The strike out a todo when checked-------------------------- */
    .todo-item.done .todo-content input {
        text-decoration: line-through;
        opacity: 0.5;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
        font-size: 0.8rem;
        background-color: $golden;
        border-radius: 0.8rem;
        width: 100%;
    }

    .list-status {
        padding-left: 10px;
    }

    .filter {
        display: flex;
    }

    .all, .active, .completed, .clear-all {
        padding: 0.5rem 1rem;
        margin: 0.125rem;
        border-radius: 0.8rem;
    }

    .all:hover, .active:hover, .completed:hover, .clear-all:hover {
        opacity: 0.55;
        background-color: $input-color;
    }

    .sort-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 0;
    }

    .sort {
        appearance: none;
        border: none;
        margin-left: 5px;
        margin-right: -20px;
        background-color: transparent;
        font-size: 1.2rem;
        color: $dark-grey;
        cursor: pointer;
    }

    .sort h2 {
        margin: 0;
    }

    .fa-sort {
        color: darkgoldenrod;
    }

    /* -----Hide Calendar Icon In Chrome----- */
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="date"]::-webkit-datetime-edit-text,
    input[type="date"]::-webkit-datetime-edit-month-field,
    input[type="date"]::-webkit-datetime-edit-day-field,
    input[type="date"]::-webkit-datetime-edit-year-field {
    opacity: 0;
    width: 50px;
    height: 40px;
    color: transparent;
    appearance: none;
    }

    /* If deadline has passed this class is added */
    .deadline-passed {
        border: 2px solid red;
    }

    /* If deadline is within 5 days this class is added */
    .deadline-soon {
        border: 2px solid darkgoldenrod;
    }

    .category-personal, .category-kids, .category-job, .category-other {
        display: block;
        width: 30px;
        height: 30px;
    }

    .category-personal {
        background-image: url("/public/icon-personal.png");
      }

      .category-kids {
        background-image: url("/public/icon-kids.png");
      }

      .category-job {
        background-image: url("/public/icon-job.png");
      }

      .category-other {
        background-image: url("/public/icon-other.png");
      }
}