$input-color: #FFF5EE;
$pink: #E7B7A0;
$golden: #E6B370;
$dark-grey: #212427;

/* ---------styling for mobile------------------- */

@media screen and (min-width: 325px) { 
    body {
        background-image: linear-gradient(to bottom, #e7b7a0, #e9b598, #eab48f, #eab386, #e9b37d, #e9b782, #eabb86, #eabf8b, #ecc99f, #eed2b4, #efdcc8, #efe6dd);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    main {
        max-width: 600px;
        border: 1px solid black;
        margin: auto;
    }

    section {
        margin: 1.4rem 1.5rem;
    }

    h1 {
        text-transform: uppercase;
    }

    h2 {
        font-size: 1.3rem;
        margin: 1.5rem 0;
    }

    h2:first-of-type {
        margin-bottom: 0.8rem;
    }

/* ------------For all inputfields that are not radiobuttons or checkboxes---------------- */
   input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
   }

/* ---------------------The greetingsection with nameinput-------------------------- */

    .greeting .title {
        font-size: 1.5rem;
        display: flex;
    }

    .greeting .title input {
        margin-left: 0.5rem;
        flex: 1 1 0%;
        min-width: 0;
    }

    /* ---------the dateinput with the calendericon------------------- */
    #due-date-input {
        background-image: url('public/icons8-calendar-64.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: transparent;
        opacity: 1;
        display: block;
        width: 40px;
        height: 40px;
        border-width: thin;
    }

/* ---------------------The create todo input-------------------------- */
    .create-todo input[type="text"] {
        display: block;
        font-size: 1.125rem;
    }

    .todo-input {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.5rem;
        border-radius: 0.6rem;
        background-color: $input-color;
    }

/* ---------------------The section with categorys-------------------------- */

    input[type="radio"] {
        accent-color: $pink;
      }

    .options {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 15px 15px; 
        margin: 1rem 0;
    }

    .category-info {
        display: flex;
        align-items: center;
    }

    .category-info div {
        margin-right: 5px;
    }

    .create-todo .options label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.3rem;
        background-color: $input-color;
        border-radius: 0.8rem;
    }

/* ---------------------The submit button for the todo -------------------------- */
    .create-todo input[type="submit"] {
        display: block;
        width: 100%;
        padding: 1rem 1.5rem;
        margin: 1.5rem 0;
        font-size: 1.125rem;
        background-color: $golden;
        box-shadow: 5px 5px 5px $dark-grey;
        border-radius: 0.8rem;
    }

    .create-todo input[type="submit"]:hover {
        opacity: 0.75;
    }

    /* ---------------------The section with the todos-------------------------- */
    .todo-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $input-color;
        padding: 0.8rem;
        border-radius: 0.8rem;
        margin: 1rem 0;;
    }

    .duedate-div {
        font-size: 0.8rem;
        margin-left: -110px;
    }

    .category-icon {
        margin: 0 0.3rem;
    }

    /* ---------------------The edit and delete buttons-------------------------- */
    .todo-item .actions {
        display: flex;
        align-items: center;
    }

    .todo-item .actions button {
        display: block;
        font-size: 0.9rem;
        padding: 0.2rem;
        border-radius: 0.25rem;
    }

    .todo-item .actions button:hover {
        opacity: 0.75;
    }

    .todo-item .actions .edit {
        background-color: $golden;
        margin-right: 0.4rem;
    }

    .todo-item .actions .delete {
        background-color: $golden;
    }

    /* ---------------------The strike out a todo when checked-------------------------- */
    .todo-item.done .todo-content input {
        text-decoration: line-through;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9rem;
        background-color: $golden;
        padding: 0.7rem;
        border-radius: 0.8rem;
        width: 100%;
    }

    .filter {
        display: flex;
    }
}