$input-color: #FFF5EE;
$pink: #E7B7A0;
$golden: #E6B370;
$dark-grey: #212427;

/* styling för tablet */
@media screen and (min-width: 600px) {
    body {
        background-image: linear-gradient(to bottom, #e7b7a0, #e9b598, #eab48f, #eab386, #e9b37d, #e9b782, #eabb86, #eabf8b, #ecc99f, #eed2b4, #efdcc8, #efe6dd);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    main {
        margin-top: 50px;
        border-radius: 10px;
    }

    h2 {
        font-size: 1.4rem;
    }

    .greeting .title {
        font-size: 1.6rem;
    }

    #due-date-input {
        width: 60px;
        height: 50px;
        margin-right: 25px;
    }

    .create-todo input[type="text"] {
        font-size: 1rem;
        padding: 1.1rem 1rem;
    }

    .create-todo .options .options-div {
        padding: 1.3rem;
    }

    input[type="radio"] {
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -ms-transform: scale(1.5); /* IE 9 */
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
      }

    .submit-button {
        padding: 1.2rem 1.5rem;
        font-size: 1.3rem;
    }

    .todo-item {
        padding: 1rem;
        font-size: 1.2rem;
    }

    input[type="checkbox"] {
        margin-right: -10px;
      }

    .duedate-div {
        font-size: 1rem;
    }

    .todo-item .actions button {
        font-size: 1rem;
        padding: 0.3rem;
    }

    .todo-item .actions .edit {
        margin-right: 1rem;
    }

    .category-info {
        font-size: 1.2rem;
    }

    footer{
        font-size: 1.2rem;
        padding: 0 0.4rem;
    }

    #sort {
        font-size: 1.4rem;
    }
  }
